<div class="headerdiv"><h1>Upload roast profile</h1></div>

<div class="textdiv">Upload a profile in the jetKafe Arduino log format for graphing. Note: profiles are not currently stored.</div>

<div class="textdiv">
<%= form_tag do %>

    <div>Chart title: <%= text_field_tag :title %> Created by: <%= text_field_tag :by %></div>

    <div>Enter PID values to see impact on heat (ignored if blank):<br />
      Initial Iterm: <%= text_field_tag :start %>
      Kp: <%= text_field_tag :Kp %>
         Ki: <%= text_field_tag :Ki %> Kd: <%= text_field_tag :Kd %></div>

    <div>Roast log (paste serial monitor output):<br />
      <%= text_area_tag :profile, nil, :style => 'width:500px;height:500px;' %></div>

    <div><%= submit_tag "Create chart" %></div>

<% end %>

</div>